<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice 3</title>
</head>
<body>
    <h1>Liste des routes</h1>
    <ul>
        <li> /users : liste des utilisateurs </li>
        <li> /users/1 : liste le 1er utilisateur </li>
        <li> /users/role/admin : liste les utilisateurs administrateurs </li>
        <li> /users/role/user : liste les utilisateurs "classiques" </li>
    </ul>
</body>
</html>