<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
</head>
<body>
  <h1>Bienvenue <%= user.firstname %> <%= user.lastname %> !</h1>

  <h2>Liste des villes :</h2>
  <ul>
    <% cities.forEach(city => { %>
      <li><%= city %></li>
    <% }); %>
  </ul>

  <h2>Ajouter une ville</h2>
  <form action="/cities" method="POST">
    <fieldset>
      <legend>Formulaire</legend>
      <label for="city">Ville :</label>
      <input type="text" id="city" name="city" required>
      <input type="submit" value="VALIDER">
    </fieldset>
  </form>
</body>
</html>
